et_xmlfile==2.0.0
joblib==1.5.3
lightgbm==4.6.0
narwhals==2.23.0
numpy==2.4.6
openpyxl==3.1.5
packaging==26.0
pandas==3.0.3
python-dateutil==2.9.0.post0
scikit-learn==1.9.0
scipy==1.17.1
six==1.17.0
threadpoolctl==3.6.0
tzdata==2026.2
xgboost==3.2.0

